[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://github.com/google/benchmark.git
[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "third_party/boost/preprocessor"]
	path = third_party/boost/preprocessor
	url = https://github.com/boostorg/preprocessor
[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "third_party/dlpack"]
	path = third_party/dlpack
	url = https://github.com/dmlc/dlpack.git
[submodule "third_party/ffts"]
	path = third_party/ffts
	url = https://github.com/JanuszL/ffts
[submodule "third_party/cutlass"]
	path = third_party/cutlass
	url = https://github.com/NVIDIA/cutlass
	ignore = untracked
[submodule "third_party/cocoapi"]
	path = third_party/cocoapi
	url = https://github.com/cocodataset/cocoapi
[submodule "third_party/cvcuda"]
	path = third_party/cvcuda
        url = https://github.com/CVCUDA/CV-CUDA.git
