*~
build/*
*.pyc
doxygen
html
latex
.vimrc
.ycm_extra_conf.py
**/imgui.ini
.*.swp
valgrind-out.txt
**/.ipynb_checkpoints
.dockerignore
wheelhouse
compile
compile_debug
.idea
.vscode
cmake-build-*
./data
qnx/
docs/_build
docs/fn_table
docs/fn_to_op_table
docs/op_autodoc
docs/fn_autodoc
docs/dali.png
docs/nvidia.ico
docs/operations/*
docs/examples/audio_processing/index.rst
docs/examples/custom_operations/index.rst
docs/examples/general/data_loading/index.rst
docs/examples/general/expressions/index.rst
docs/examples/general/general_ops_index.rst
docs/examples/image_processing/index.rst
docs/examples/index.rst
docs/examples/operations_index.rst
docs/examples/other_index.rst
docs/examples/sequence_processing/index.rst
docs/examples/use_cases/index.rst
docs/examples/use_cases/paddle/index.rst
.DS_Store
build-docker-*
