include Acknowledgements.txt LICENSE COPYRIGHT
recursive-include nvidia/dali/include *.h
recursive-include nvidia/dali/include *.hpp
recursive-include nvidia/dali *.bin
recursive-include nvidia/dali *.so
