Source: libnvidia-container
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Maintainer: NVIDIA CORPORATION <cudatools@nvidia.com>
Homepage: https://github.com/NVIDIA/libnvidia-container

Package: libnvidia-container1
Section: libs
Priority: optional
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NVIDIA container runtime library
 The nvidia-container library provides an interface to configure GNU/Linux
 containers leveraging NVIDIA hardware. The implementation relies on several
 kernel subsystems and is designed to be agnostic of the container runtime.
 .
 This package requires the NVIDIA driver (>= 340.29) to be installed separately.

Package: libnvidia-container-dev
Section: libdevel
Priority: optional
Architecture: any
Multi-Arch: same
Depends: libnvidia-container1 (= ${binary:Version}), ${misc:Depends}
Description: NVIDIA container runtime library (development files)
 The nvidia-container library provides an interface to configure GNU/Linux
 containers leveraging NVIDIA hardware. The implementation relies on several
 kernel subsystems and is designed to be agnostic of the container runtime.
 .
 This package contains the files required to compile programs with the library.

Package: libnvidia-container1-dbg
Section: debug
Priority: extra
Architecture: any
Multi-Arch: same
Depends: libnvidia-container1 (= ${binary:Version}), ${misc:Depends}
Description: NVIDIA container runtime library (debugging symbols)
 The nvidia-container library provides an interface to configure GNU/Linux
 containers leveraging NVIDIA hardware. The implementation relies on several
 kernel subsystems and is designed to be agnostic of the container runtime.
 .
 This package contains the debugging symbols for the library.

Package: libnvidia-container-tools
Section: utils
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NVIDIA container runtime library (command-line tools)
 The nvidia-container library provides an interface to configure GNU/Linux
 containers leveraging NVIDIA hardware. The implementation relies on several
 kernel subsystems and is designed to be agnostic of the container runtime.
 .
 This package contains command-line tools that facilitate using the library.
